<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/hobbies">Hobbies</a>
    <h1>Who am I ?</h1>
    <p>Hi there my name is Terry and I am a frontend developer<a href="/about">About</a></p>
</body>