<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/hobbies">Hobbies</a>
    <h1>Who am I ?</h1>
    <p>Hi there my name is Terry here are my Hobbies<a href="/hobbies">Hobbies</a></p>
    <p>Coding, Motion graphics, Photography and more</p>
</body>